@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

.hero-container {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.hero-container img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
}
.hero-container video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
}

.hero-container .text{
  position: relative;
  bottom: 90px;
  z-index: 1;
  text-align: center;
  // text-shadow: 0 5px 5px rgba(0,0,0,1);
}
.hero-container .text > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.hero-container .text > p {
  margin-top: 7px;
  color: #fff;
  font-size: 40px;
  font-weight: 800;
  font-family: 'Poppins',sans-serif;
}

.hero-btns .bttn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

#hashtag{
  font-size: 30px;
  margin-bottom: 10px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btns {
    width: 100%;
  }
}

@media (max-width: 500px){
  .hero-container .text > h1{
    font-size: 70px;
  }
}