.quote {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 62.5%;
    min-height: 21vh;
    background: black;
    padding: 2.8rem;
}

.quote-text, .author{
    background-image: url('../../resources/quote-text.webp');
    color: transparent;
    -webkit-background-clip: text;
}
.quote-text {
    position: relative;
    width: 13em;
    font-family: 'Poppins', serif;
    font-size: 5em;
    line-height: 1.5em;
    font-weight: 700;
    .author {
        font-family: 'Poppins', sans-serif;
        font-size: 0.9em;
        font-weight: 700;
        float: right;
        &:before {
            content: '\2015';
        }
    }
}

@media (max-width:712px){
    .quote-text{
        font-size: 3.2em;
    }
}

@media (max-width:500px){
    .quote-text{
        font-size: 2em;
    }
}