.chat {
    display: flex;
    flex-direction: column;
    flex: 0.8;
    // background-color: #e09082;
    background-color: #deebdd;
background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);

    // background-image: linear-gradient(315deg, #e09082 0%, #f8dba4 74%);
    height: 91.8vh;
}

.chat__messages {
    flex: 1;
    overflow: scroll;
}

.chat__messages::-webkit-scrollbar {
    display: none;
}

.chat__messages {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chat__input {
    color: black;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 100px;
    margin: 20px;
    // border: 1px solid gray;
    background-color: white;
}

.chat__input>form>input {
    padding: 15px;
    // background: transparent;
    border: none;
    outline-width: 0;
    color: black;
    font-size: large;
    width: 100%;
}

.chat__input>form {
    display: flex;
    flex: 1;
}

.chat__input>form>button {
    width: 60px;
    background-color: #485461;
    color: white;
    border: 1px solid #485461;
    border-radius: 50%;
    cursor: pointer;
}