@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

.navbar {
  font-family: "Poppins", sans-serif;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  filter: drop-shadow(2px 4px 6px black);
  opacity: 0.99; 
}

.bg-color {
  // background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  background: #27282C;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  color: #fff;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 29px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 20px;
  list-style: none;
  text-align: center;
  width: 60vw;
  height: 2em;
  justify-content: end;
}

.nav-item {
  height: 40px;
}

.nav-links {
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 2px solid #fff;
  transition: all 0.1s ease-out;
}

.fa-bars {
  color: #fff;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 1300px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 91.5vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    grid-gap: 80px;
    justify-content: flex-start;
  }

  .nav-menu.active {
    background: #27282C;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    margin: 0;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
  }

  .navbar-logo {
    position: absolute;
    // top: 0;
    left: 0;
    // transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }
}

#logo {
  width: 70px;
  padding-right: 10px;
}

@media (max-width:450px){
  .navbar-logo > p{
    visibility: hidden;
  }
}