.sidebar{
    display: flex;
    flex-direction: column;
    flex:0.2;
    height: 91.8vh;
    background-color: #2f3135;
}

.sidebar_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2f3135;
    color: white;
    border-bottom: 3px solid #26282c;
}

.sidebar_channels{
    flex:1;
}

.sidebar_addChannels{
    cursor: pointer;
}

.sidebar_addChannel:hover{
    color: white;
}

.sidebar_channelsHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2f3135;
    color: gray;
}

.sidebar_header{
    display: flex;
    align-items: center;
}

.sidebar_profile{
    display: flex;
    align-items: center;
    color: white;
    background-color: #2f3135;
    padding: 10px;
    border-top: 1px solid gray;
    flex:0.09;
}

.sidebar_profileInfo{
    padding: 10px;
}