.base-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
  }

  .content {
    display: flex;
    flex-direction: column;

    .image {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 15em;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;

      .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        margin-top:20px;
        label {
          font-size: 20px;
          padding-bottom: 5px;
        }
        input {
          margin-top: 2px;
          min-width: 18em;
          height: 37px;
          padding: 0px 10px;
          font-size: 16px;
          font-family: "Open Sans", sans-serif;
          background-color: #f3f3f3;
          border: 0;
          border-radius: 100px;
          margin-bottom: 5px;
          transition: all 250ms ease-in-out;

          &:focus {
            outline: none;
            box-shadow: 0px 0px 12px 0.8px #3474dbb2;
          }
        }
      }
      .errorMsg {
        color: red;
        font-size: 16px;
      }
    }
  }

  .footer {
    margin-top: 20px;
    img {
      // width: 2em;
      height: 2em;
      float: right;
      padding-right: 2em;
      cursor: pointer;
    }
    p {
      font-size: large;
      padding-top: 5%;
    }
    span:hover {
      cursor: pointer;
    }
  }
}
