.base-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-weight: 400;
    @media screen and (max-width:500px){
      font-size: 20px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;

    .image {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 15em;
      img {
        width: 100%;
        height: 100%;
      }

      @media screen and (max-width:500px){
        width: 11em;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;

      .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        label {
          font-size: 20px;
          padding-bottom: 5px;
          color: #fff;
          @media screen and (max-width:500px){
            font-size: 17px;
          }
        }
        input {
          margin-top: 2px;
          min-width: 18em;
          height: 37px;
          padding: 0px 10px;
          font-size: 16px;
          font-family: "Open Sans", sans-serif;
          background-color: #f3f3f3;
          border: 0;
          border-radius: 100px;
          margin-bottom: 5px;
          transition: all 250ms ease-in-out;

          &:focus {
            outline: none;
            // box-shadow: 0px 0px 4px 0.8px #3474dbb2;
          }

          @media screen and (max-width:500px){
            min-width: 16em;
          }
        }
      }

      .form-group:last-of-type{
        margin-top:20px;
      }
      .errorMsg {
        color: red;
        font-size: 16px;
      }
    }
  }

  .footer {
    margin-top: 20px;
    i{
      font-size:1.8rem;
      float:right;
      cursor: pointer;
      padding-right: 1em;
      color: #DB4437;
    }
    p {
      font-size: 1.1em;
      padding-top: 5%;
      color: #fff;
      font-weight: 700;
      @media screen and (max-width:500px){
        font-size: 15px;
      }
    }
    span:hover {
      cursor: pointer;
    }
  }
}
