.base-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;  

  .header {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
  }

  .content {
    display: flex;
    flex-direction: column;

    .image {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 15em;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;

      .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        label {
          font-size: 20px;
        }
        input {
          margin-top: 2px;
          min-width: 18em;
          height: 37px;
          padding: 0px 10px;
          font-size: 16px;
          font-family: "Open Sans", sans-serif;
          background-color: #f3f3f3;
          border: 0;
          border-radius: 100px;
          margin-bottom: 5px;
          transition: all 250ms ease-in-out;
          &:hover {
            //background-color: #ffffff;
            //box-shadow: 0px 0px 14px 0.3px #0e81ce96;
          }

          &:focus {
            outline: none;
            box-shadow: 0px 0px 12px 0.8px #3474dbb2;
          }
        }
      }
      .errorMsg{
        color: red;
        font-size: 16px;
      }
    }
  }

  .footer {
    margin-top: 0px;
    p{
      font-size: large;
    }
    span:hover{
      color:red;
      cursor: pointer;
    }
  }
}
